@import "../settings.less";

/* HTML Styling */
* {
	margin:0;
	padding:0;
	position:absolute
}

br {position:relative;}

html,body {
	position:relative;
}

/* Base banner mixins */
.base-banner() {
	overflow:hidden;
	cursor: hand;
	cursor: pointer;
	width: @banner-width;
	height: @banner-height;
}

/* Background mixins */
.svg-background(@path-without-extention, @w : 105px, @h : 18px) {
	.retina-image("@{path-without-extention}","png", no-repeat,@w, @h,0,0);
  //background: transparent url("@{path-without-extention}.png") no-repeat;
	background-image: -webkit-linear-gradient(transparent,transparent),url("@{path-without-extention}.svg");
	background-image: -moz-linear-gradient(transparent,transparent),url("@{path-without-extention}.svg");
	background-image: linear-gradient(transparent,transparent),url("@{path-without-extention}.svg");
  background-size: @w @h;
	-moz-background-size: @w @h;
}


.retina-image(@file, @type, @repeat, @width, @height, @posx : 0, @posy : 0) {
  background-image: url('@{file}.@{type}');
  background-repeat: @repeat;
  background-position: @posx @posy;

  @media  
only screen and (-webkit-min-device-pixel-ratio: 2),  
only screen and ( min--moz-device-pixel-ratio: 2),  
only screen and ( -o-min-device-pixel-ratio: 2/1),  
only screen and ( min-device-pixel-ratio: 2),  
only screen and ( min-resolution: 192dpi),  
only screen and ( min-resolution: 2dppx) {
      background-size: @width @height;
      -moz-background-size: @width @height;
      background-image: url('@{file}@2x.@{type}');
      background-position: @posx * 2 @posy * 2;
    }
}


