/* HTML Styling */
* {
	margin:0;
	padding:0;
	position:absolute
}

html,body {
	position:relative;
	cursor: hand;
	cursor: pointer;
}

/* Base banner mixins */
.base-banner() {
		overflow:hidden;
}

.banner300x250 {
	.base-banner;
	
	width:300px;
	height:250px
}