@import "../settings.less";

/* HTML Styling */
* {
	margin:0;
	padding:0;
	position:absolute
}

html,body {
	position:relative;
}

/* Base banner mixins */
.base-banner() {
	overflow:hidden;
	cursor: hand;
	cursor: pointer;
	width: @banner-width;
	height: @banner-height;
}

