@import "library/lesshat.less";
@import "library/bmi-banner-mixins.less";
@import "library/clients/vodafone.less";
@import "settings.less";


.banner {
	.banner300x250;
	.background-gradient-red;
}

.content-container {
	top:10px;
	right:150px;
	bottom:10px;
	left:10px
}

.product-container {
	top:10px;
	right:110px;
	bottom:10px;
	left:160px
}

.title {
	position:relative;
	color:@text-color;
	font-family:"vodafone_exbregular";
	font-size:24px
}

.description {
	position:relative;
	color:@text-color;
	font-family:"vodafone_rgbold";
	font-size:16px
}

.sticker {
	.border-radius(52px);
	background-color: #00afc9;
	width:52px;
	height:52px;
	color:#fff;
	font-family:"vodafone_exbregular";
	font-size:13px;
	text-align: center;
	display: table;
	max-height: 52px;
	overflow: hidden;

}

.sticker div{
	position: relative;
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
	height: 100%;
}

.button {
	background:url(../images/button.png);
	width:62px;
	height:18px;
}

.logo {
	background:url(../images/logo.png);
	width:45px;
	height:45px;
	top: 10px;
	left: 10px;
}

.vodafone {
	background:url(../images/vodafone.png);
	width:73px;
	height:13px;
	bottom: 10px;
	left: 10px;
}

.p2u {
	background:url(../images/p2u.png);
	width:105px;
	height:18px;
	bottom: 5px;
	left: 10px;
}

